.about-me {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 23rem;
    height: 3rem;
    background-color: $about-me-accent;
    z-index: -1;
    top: 30%;
    right: 0;
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 3rem;
    background-color: $about-me-accent;
    z-index: -1;
    top: 70%;
    left: 0;
  }
  &__title {
    font-size: 2.4rem;
    margin-bottom: 2.3rem;

    &::after {
      background-color: $about-me-accent;
    }
  }
  &__description {
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.2rem;

    .paragraph {
      display: block;
      margin-bottom: 2rem;
    }
  }
}
@media screen and (min-width:991px) {
  .about-me {
    min-width: 28rem;
    max-width: 90rem;
    &__description {
      max-width: 100%;
      font-size: 1.6rem;
      line-height: 2.2rem;

      .paragraph {
        display: block;
        margin-bottom: 2rem;
      }
    }
  }
}
