.section-title {
  font-size: 2.4rem;
  margin-bottom: 2.3rem;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0%;
    left: 10%;
    display: block;
    z-index: -1;
  }
}

//common styles to every section
.section {
  padding: 0 2.8rem;
  opacity: 0;
  transform: translateY(5rem);
  max-width: 50rem;
  margin: 0 auto;
}

// class added when section is observed
.section--active {
  padding-top: 7rem;
  transform: translateY(0);
  transition: transform 1s ease, opacity 1s ease;
  opacity: 1;
}
.button {
  display: block;
  font-size: 1.6rem;
  min-width: 15rem;
  min-height: 4rem;
  align-self: center;
  border: 2px solid $border-color;
  border-radius: 2rem;
  margin-top: 4rem;
  box-shadow: 0 0.5rem 1rem -0.5rem rgb(60, 60, 60);
  transition: 0.3s transform ease-in-out, 0.3s box-shadow ease-in-out;
  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1.5rem 1.5rem -1rem rgb(145, 145, 145);
  }
}
