.contact {
  &__title {
    margin-bottom: 4rem;
    &::after {
      background-color: $skils-accent;
    }
  }
  &-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    margin-bottom: 2rem;

    .contact__img {
      width: 5rem;
      margin-bottom: 2rem;
    }
    .wraper {
      display: flex;
      align-items: flex-start;
      transform: translateX(5%);
      .copy {
        width: 2rem;
        margin-left: 1rem;
        transition: 0.3s transform ease-in-out;
        cursor: pointer;
        &:hover {
          transform: translate(0.2rem, -0.2rem);
        }
        &:active {
          transform: translate(0.2rem, 0);
        }
      }
    }
  }
  &__form,
  .form {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    &__label {
      margin-bottom: 0.5rem;
    }
    &__input {
      margin-bottom: 1rem;
      border: 2px solid $border-color;
      border-radius: 1rem;
      padding: 0.5rem;
      font-size: 1.6rem;
    }

    &__submit {
      background: none;
      color: black;
    }
    &__input--error {
      border-color: $error-color;
    }
    &__error-info {
      color: $error-color;
      opacity: 0;
      transition: 0.2s opacity ease;
    }
    &__error-info--active {
      opacity: 1;
    }
  }
}
.contact__overlay {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.contact__overlay--open {
  visibility: visible;
  opacity: 1;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $overlay-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .confirm-message {
    background-color: $main-bg-color;
    padding: 3rem 5rem;
    border-radius: 1rem;
    h3 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
