.section.experience {
    h3{
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    p{
        font-size: 1.6rem;
        margin-bottom: 15px;
    }
}
.experience .section-title:after{
    background-color: #c7929291;
}