.main-header {
  margin-top: 2rem;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;
  }

  &__title {
    max-width: 30rem;
    font-weight: 100;
    margin-left: 2rem;
    span {
      font-weight: 900;
    }

    &::after {
      left: 0;
      width: 50%;
      background: $main-title-color-accent;
    }
  }
  &__image {
    display: block;
    margin: 3.2rem auto 3.2rem;
    max-width: 20rem;
  }
  &__subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    height: 4.6rem;
    text-align: center;
  }

  &__arrow-down {
    margin-top: 2.5rem;
    align-self: center;
    transition: 0.3s transform ease-in-out;
  }
  &__arrow-down--active {
    transform: translateY(2rem);
  }
}

@media screen and (min-width: 1000px) {
  .main-header {
    .container {
      max-width: 90rem;
    }
    margin-top: 10rem;
    &__image {
      max-width: 30rem;
    }
    &__arrow-down {
      margin-bottom: 8rem;
    }
  }
}
