.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 2;

  // Mobile menu
  &__menu,
  .menu {
    position: fixed;
    top: 0;
    left: -15rem;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100%;
    font-size: 1.6rem;
    background-color: $main-bg-color;
    border-radius: 0 2rem 2rem 0;
    transition: 0.5s transform ease;
    &__item {
      &:first-child {
        margin-top: 3rem;
      }
    }
    &__link {
      width: 100%;
      display: block;
      padding: 2rem 0 2rem 1.5rem;
      &:hover {
        transition: background-color 0.2s ease-in, color 0.2s ease;
        background-color: $accent-color;
        color: $main-bg-color;
      }
    }
  }

  // Open menu
  .menu--open {
    transform: translateX(15rem);
  }

  // Overlay
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-color;
    display: none;
    z-index: -1;
    animation: fadeIn 0.3s;
  }

  &__overlay--open {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .navbar {
    top: 0;
    left: 0;
    transform: translate(0);
    padding: 0;

    .menu {
      position: static;
      top: 0;
      left: 0;
      flex-direction: row;
      width: 100%;
      border-radius: 0;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      background-color: $main-bg-color;
      border-bottom: 1px solid black;
      transform: translateY(-100%);

      &__item {
        &:first-child {
          margin-top: 0rem;
        }
      }
      &__link {
        padding: 1.5rem 2.5rem;
      }
    }
    .menu--open {
      transform: translateX(0);
    }
    &__overlay {
      display: none;
    }
    &__overlay--open {
      display: none;
    }
    .menu--openDesk {
      transform: translateY(0);
      box-shadow: 0 1rem 5rem -2.5rem black;
    }
  }
}
