.projects {
  margin-bottom: 30rem;
  padding-top: 0;
  &__title {
    &:after {
      background-color: rgb(171, 238, 243);
    }
  }
  &__container {
    display: flex;
    justify-content: center;
  }
}
.project-info {
  position: relative;
  margin-top: 2rem;
  text-align: center;
  &__wraper {
    position: absolute;

    opacity: 0;
    transition: 1s opacity ease 0.2;
    width: 100%;
  }
  &__wraper--show {
    z-index: 2;
    opacity: 1;
    transition: 1s opacity ease;
  }
  .name {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .describe {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .link-wraper {
    min-width: 100%;

    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;

    .project-link {
      display: flex;
      align-items: center;
      border: 2px solid black;
      border-radius: 2.5rem;
      padding: 0.2rem;
      padding-right: 2rem;

      height: 100%;
      transition: 0.2s background ease;
      &:hover {
        background-color: rgb(236, 236, 236);
        box-shadow: 0rem 0.2rem 0.5rem -0.2rem black;
      }
      img {
        width: 4rem;
        margin-right: 0.5rem;
      }
    }
  }
}

.navigation-wrapper {
}
.keen-slider {
  max-width: 260px;
}
[class^="number-slide"],
[class*=" number-slide"] {
  max-width: 260px;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    min-width: 100%;
    max-height: 100%;
  }
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  right: 100%;
  fill: "#fff";
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
  left: auto;
  left: 100%;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}
