.skils {
  &__title {
    &::after {
      background-color: $skils-accent;
    }
  }

  &__container {
    grid-template-columns: repeat(1, 1fr);
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    &:first-child {
      text-transform: uppercase;
    }
    &:nth-child(2) {
      text-transform: uppercase;
    }
    &__icon {
      width: 50px;
      margin-right: 2rem;
    }
    &__title {
      font-size: 1.6rem;
    }
  }
}
@media screen and (min-width: 1000px) {
  .skils {
    min-width: 28rem;
    max-width: 90rem;
    &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
