// Colors
$main-bg-color: #eeeded;
$border-color: #434343;
$accent-color: #434343;
$error-color: #fa6969;

$overlay-color: #27272782;

//text shadow accents
$main-title-color-accent: rgba(199, 146, 146, 0.57);
$about-me-accent: rgba(243, 187, 77, 0.56);
$skils-accent: rgb(96, 224, 233);
