@import "/node_modules/keen-slider/keen-slider.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeded;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

button {
  font-family: "Roboto Mono", monospace;
  background-color: none;
  border: none;
  background: none;
  cursor: pointer;
}

.section-title {
  font-size: 2.4rem;
  margin-bottom: 2.3rem;
  position: relative;
  display: inline-block;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0%;
  left: 10%;
  display: block;
  z-index: -1;
}

.section {
  padding: 0 2.8rem;
  opacity: 0;
  transform: translateY(5rem);
  max-width: 50rem;
  margin: 0 auto;
}

.section--active {
  padding-top: 7rem;
  transform: translateY(0);
  transition: transform 1s ease, opacity 1s ease;
  opacity: 1;
}

.button {
  display: block;
  font-size: 1.6rem;
  min-width: 15rem;
  min-height: 4rem;
  align-self: center;
  border: 2px solid #434343;
  border-radius: 2rem;
  margin-top: 4rem;
  box-shadow: 0 0.5rem 1rem -0.5rem rgb(60, 60, 60);
  transition: 0.3s transform ease-in-out, 0.3s box-shadow ease-in-out;
}
.button:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 1.5rem -1rem rgb(145, 145, 145);
}

.launch-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 3;
}
.launch-screen__curtain {
  background-color: #eeeded;
  height: 100%;
  width: 50%;
}
.launch-screen__curtain--left {
  box-shadow: 0 0 8rem 0.1rem black;
  position: relative;
}
.launch-screen__curtain--left--open {
  transform: translateX(-150%);
  transition: 1.5s transform ease-out;
}
.launch-screen__curtain--right--open {
  transform: translateX(150%);
  transition: 1.5s transform ease-out;
}
.launch-screen__button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 3rem;
  background-color: #eeeded;
  border-radius: 50%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 15px 15px 30px #8d8d8d, -15px -15px 30px #ffffff;
}
.launch-screen__button:hover {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 6px 6px 12px #8d8d8d, -6px -6px 12px #ffffff;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}
.launch-screen__button--clicked {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 6px 6px 12px #8d8d8d, -6px -6px 12px #ffffff;
  transition: transform 2.7s ease 1s;
}

.navbar {
  position: fixed;
  top: 0;
  min-width: 100%;
  padding: 1rem;
  z-index: 2;
}
.navbar__menu,
.navbar .menu {
  position: fixed;
  top: 0;
  left: -15rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  font-size: 1.6rem;
  background-color: #eeeded;
  border-radius: 0 2rem 2rem 0;
  transition: 0.5s transform ease;
}
.navbar__menu__item:first-child,
.navbar .menu__item:first-child {
  margin-top: 3rem;
}
.navbar__menu__link,
.navbar .menu__link {
  width: 100%;
  display: block;
  padding: 2rem 0 2rem 1.5rem;
}
.navbar__menu__link:hover,
.navbar .menu__link:hover {
  transition: background-color 0.2s ease-in, color 0.2s ease;
  background-color: #434343;
  color: #eeeded;
}
.navbar .menu--open {
  transform: translateX(15rem);
}
.navbar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 44, 44, 0.55);
  opacity: 0;
  display: none;
  transition: 0.5s opacity ease, 0.1s display ease 1.5s;
  z-index: -1;
}
.navbar__overlay--open {
  opacity: 1;
  display: flex;
}

@media screen and (min-width: 1000px) {
  .navbar {
    top: 0;
    left: 0;
    transform: translate(0);
    padding: 0;
  }
  .navbar .menu {
    position: static;
    top: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    border-radius: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-color: #eeeded;
    border-bottom: 1px solid black;
    transform: translateY(-100%);
  }
  .navbar .menu__item:first-child {
    margin-top: 0rem;
  }
  .navbar .menu__link {
    padding: 1.5rem 2.5rem;
  }
  .navbar .menu--open {
    transform: translateX(0);
  }
  .navbar__overlay {
    display: none;
  }
  .navbar__overlay--open {
    display: none;
  }
  .navbar .menu--openDesk {
    transform: translateY(0);
    box-shadow: 0 1rem 5rem -2.5rem black;
  }
}
.hamburger {
  width: 4rem;
  height: 3rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger__bar {
  min-width: 100%;
  height: 0.4rem;
  background-color: #434343;
  border-radius: 1rem;
  transition: all 0.5s ease;
}

.hamburger--open .hamburger__bar:first-child {
  transform: rotate(-45deg) translate(-0.8rem, 1rem);
}
.hamburger--open .hamburger__bar:nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
}
.hamburger--open .hamburger__bar:last-child {
  transform: rotate(45deg) translate(-0.8rem, -1rem);
}

@media screen and (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}
.main-header {
  margin-top: 5rem;
}
.main-header .container {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 500px;
  margin: 0 auto;
}
.main-header__title {
  position: relative;
  margin-top: 7rem;
  margin-left: 4rem;
  font-size: 2.4rem;
  max-width: 14.3rem;
  z-index: -1;
}
.main-header__title::before {
  position: absolute;
  bottom: 0;
  left: -0.5rem;
  content: "";
  height: 1.4rem;
  width: 90%;
  background: rgba(199, 146, 146, 0.57);
  z-index: -2;
}
.main-header__image {
  display: block;
  margin: 3.2rem auto 3.2rem;
}
.main-header__subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  height: 4.6rem;
  text-align: center;
}
.main-header__arrow-down {
  margin-top: 2.5rem;
  align-self: center;
  transition: 0.3s transform ease-in-out;
}
.main-header__arrow-down--active {
  transform: translateY(2rem);
}

.about-me {
  margin-top: 0rem;
  position: relative;
}
.about-me::after {
  content: "";
  position: absolute;
  display: block;
  width: 23rem;
  height: 3rem;
  background-color: rgba(243, 187, 77, 0.56);
  z-index: -1;
  top: 30%;
  right: 0;
}
.about-me::before {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 3rem;
  background-color: rgba(243, 187, 77, 0.56);
  z-index: -1;
  top: 70%;
  left: 0;
}
.about-me__title {
  font-size: 2.4rem;
  margin-bottom: 2.3rem;
}
.about-me__title::after {
  background-color: rgba(243, 187, 77, 0.56);
}
.about-me__description {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.about-me__description .paragraph {
  display: block;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1000px) {
  .about-me {
    min-width: 28rem;
    max-width: 70rem;
  }
  .about-me__description {
    max-width: 100%;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .about-me__description .paragraph {
    display: block;
    margin-bottom: 2rem;
  }
}
.skils__title::after {
  background-color: rgb(96, 224, 233);
}
.skils__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
}
.skils__item {
  min-width: 28rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.skils__item:first-child {
  text-transform: uppercase;
}
.skils__item:nth-child(2) {
  text-transform: uppercase;
}
.skils__item__icon {
  width: 50px;
  margin-right: 2rem;
}
.skils__item__title {
  font-size: 1.6rem;
}

.projects__title:after {
  background-color: rgb(171, 238, 243);
}
.projects__container {
  display: flex;
  justify-content: center;
}
.projects .project-info {
  position: relative;
  margin-top: 2rem;
  text-align: center;
  min-height: 18rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.projects .project-info__wraper {
  top: 0;
  position: absolute;
  opacity: 0;
  transition: 1s opacity ease 0.2;
}
.projects .project-info__wraper--show {
  z-index: 2;
  opacity: 1;
  transition: 1s opacity ease;
}
.projects .project-info .name {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.projects .project-info .describe {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.projects .project-info .link-wraper {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
}
.projects .project-info .link-wraper .button {
  border-radius: 2.5rem;
  padding: 0.2rem;
}
.projects .project-info .link-wraper .button:first-child img {
  margin-right: 2rem;
}
.projects .project-info .link-wraper .project-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.projects .project-info .link-wraper .project-link img {
  width: 4rem;
  margin-right: 0.5rem;
}

.keen-slider {
  max-width: 260px;
}

[class^=number-slide],
[class*=" number-slide"] {
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35rem;
}
[class^=number-slide] img,
[class*=" number-slide"] img {
  max-height: 100%;
  max-width: 100%;
}

.navigation-wrapper {
  position: relative;
  max-width: 100%;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  right: 100%;
  fill: "#fff";
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
  left: auto;
  left: 100%;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.contact {
  height: 100vh;
  margin-bottom: 10rem;
}
.contact__title {
  margin-bottom: 4rem;
}
.contact__title::after {
  background-color: rgb(140, 243, 140);
}
.contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.contact-details .contact__img {
  width: 5rem;
  margin-bottom: 2rem;
}
.contact-details .wraper {
  display: flex;
  align-items: flex-start;
  transform: translateX(5%);
}
.contact-details .wraper .copy {
  width: 2rem;
  margin-left: 1rem;
  transition: 0.3s transform ease-in-out;
  cursor: pointer;
}
.contact-details .wraper .copy:hover {
  transform: translate(0.2rem, -0.2rem);
}
.contact-details .wraper .copy:active {
  transform: translate(0.2rem, 0);
}
.contact__form,
.contact .form {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.contact__form__label,
.contact .form__label {
  margin-bottom: 0.5rem;
}
.contact__form__input,
.contact .form__input {
  margin-bottom: 1rem;
  border: 2px solid #434343;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.6rem;
}
.contact__form__submit,
.contact .form__submit {
  background: none;
}/*# sourceMappingURL=main.css.map */